@{
    ViewData["Title"] = "About";
}

<main>
    <!--Main layout-->
    <div class="container">

        <!--Page heading-->
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1-responsive">
                    About Us
                    <small class="text-muted">secure lending and borrowing</small>
                </h1>
            </div>
        </div>
        <!--/.Page heading-->
        <hr>

        <!--First row-->
        <div class="row">
            <!--Featured image-->
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(11).jpg" class="img-fluid" alt="">
                    <div class="mask"></div>
                </div>
            </div>
            <!--/.Featured image-->
            <!--Post excerpt-->
            <div class="col-md-5">
                <a href="#!"><h2 class="post-title">Post title</h2></a>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias voluptates incidunt tempora ducimus! At cum iusto necessitatibus sed omnis nemo natus. iure magni quasi dolores similique aspernatur.</p>
                <div class="read-more">
                    <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <!--/.Post excerpt-->
        </div>
        <!--/.First row-->
        <hr class="extra-margin">

        <!--Second row-->
        <div class="row">
            <!--Featured image-->
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(6).jpg" class="img-fluid" alt="">
                    <div class="mask"></div>
                </div>
            </div>
            <!--Featured image-->
            <!--/.Post excerpt-->
            <div class="col-md-5">
                <a href="#!"><h2 class="post-title">Post title</h2></a>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias voluptates incidunt tempora ducimus! At cum iusto necessitatibus sed omnis nemo natus. iure magni quasi dolores similique aspernatur.</p>
                <div class="read-more">
                    <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <!--/.Post excerpt-->
        </div>
        <!--/.Second row-->
        <hr class="extra-margin">

        <!--Third row-->
        <div class="row">
            <!--Featured image-->
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(19).jpg" class="img-fluid" alt="">
                    <div class="mask"></div>
                </div>
            </div>
            <!--Featured image-->
            <!--/.Post excerpt-->
            <div class="col-md-5">
                <a href="#!"><h2 class="post-title">Post title</h2></a>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias voluptates incidunt tempora ducimus! At cum iusto necessitatibus sed omnis nemo natus. iure magni quasi dolores similique aspernatur.</p>
                <div class="read-more">
                    <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <!--/.Post excerpt-->
        </div>
        <!--/.Third row-->
        <hr class="extra-margin">

        <!--Fourth row-->
        <div class="row">
            <!--Featured image-->
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(11).jpg" class="img-fluid" alt="">
                    <div class="mask"></div>
                </div>
            </div>
            <!--Featured image-->
            <!--/.Post excerpt-->
            <div class="col-md-5">
                <a href="#!"><h2 class="post-title">Post title</h2></a>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias voluptates incidunt tempora ducimus! At cum iusto necessitatibus sed omnis nemo natus. iure magni quasi dolores similique aspernatur.</p>
                <div class="read-more">
                    <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <!--/.Post excerpt-->
        </div>
        <!--/.Fourth row-->
        <hr class="extra-margin">

        <!--Fifth row-->
        <div class="row">
            <!--Featured image-->
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="http://mdbootstrap.com/images/slides/slide%20(4).jpg" class="img-fluid">
                    <div class="mask"></div>
                </div>
            </div>
            <!--Featured image-->
            <!--/.Post excerpt-->
            <div class="col-md-5">
                <a href="#!"><h2 class="post-title">Post title</h2></a>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestias voluptates incidunt tempora ducimus! At cum iusto necessitatibus sed omnis nemo natus. iure magni quasi dolores similique aspernatur.</p>
                <div class="read-more">
                    <a href="#!" class="btn btn-primary">Learn more</a>
                </div>
            </div>
            <!--/.Post excerpt-->
        </div>
        <!--/.Fifth row-->
        <br>
        <hr>
    </div>
</main>
