/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

footer.page-footer {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}


/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("/img/slide6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.carousel-item:nth-child(2) {
    background-image: url("/img/slide11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("/img/slide7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}

/* TEMPLATE STYLES */
main {
    margin-top: 3rem;
}
main .card {
    margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
    .post-title {
        margin-top: 1rem;
    }       
}
@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}
.extra-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}